<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Wonder Table Test</title>
    <script type='text/javascript' src='/javascripts/prototype.js'></script>
    <script type='text/javascript' src='/javascripts/jsunity-0.6.js'></script>
    <script type='text/javascript' src='/javascripts/wonder_table.js'></script>
    <script type='text/javascript' src='/javascripts/wonder_table_test.js'></script>
    <link type="text/css" media="screen" rel="stylesheet" href="/stylesheets/wonder_table.css" />
    <style>
      td.col-1 {
      min-width: 40px;
      }
    </style>
</head>
<body>
  <div id="test-table">
  </div>
  <ul id="test-logs">
  </ul>

  <script type='text/javascript'>
    Test.init();
  </script>
</body>


</html>
