div.wonder {
    width: 970px;
    margin: 0px;
    overflow: hidden;
    position: relative;
}

div.wonder div.header {
    width: 100%;
}

div.wonder div.scroll {
    height: 335px;	
    overflow-y: auto;
    clear: both;
}

div.wonder table {
    width: 100%;
    border-collapse: separate;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}


div.wonder div.header div {
    margin: 1px;
    float: left;
    overflow: hidden;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
    font-weight: normal;
    padding: 4px 3px 3px 4px;
    background: #D9E9EF;
    font-weight: bold;
    white-space:nowrap;
}

div.wonder td {
    margin: 0;
    border-right: 1px solid #999;
    border-top: 1px solid #999;	
    padding: 2px 3px 3px 4px
}

div.wonder tr.odd {
    background-color: #FFF;
}


div.wonder tr.even {
    background-color: #F2F2F2;
}


div.wonder tr.selected {
    background-color: #EBC2C0;
}


div.wonder tr.deleted td {
    text-decoration: line-through;
}


div.wonder div.header div.sorted {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right center;
}

div.wonder div.header div.asc {
    background-color: #DDFFAC;
    background-image: url(/images/icons/wt-down.gif);
}

div.wonder div.header div.desc {
    background-color: #B9DDFF;
    background-image: url(/images/icons/wt-up.gif);
}

div.wonder div.header div.nosort {
    cursor: default;
}



div.wonder div.spinner {
  position: absolute;
  opacity: 0.75;
  z-index: 1;
  filter:alpha(opacity: 75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  background-color: #fff;
}

div.wonder div.spinner p {
    background: #fff url('/images/icons/wt-spinner.gif') no-repeat;
    text-indent: 45px;
    font-size: 26px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
   
    font-weight: normal;
    padding: 4px 3px 3px 4px;
}


